<div class='col-xs-12 col-sm-12 col-md-12'   style='background-color:#22262e; width:100%; height:100px;'>
        
            <div class='col-xs-8 col-sm-8 col-md-8'>
                <div class='col-xs-2 col-sm-2 col-md-2'>
                    <button style='margin-left:-50px;margin-top:1.5em; float:left;' id='nav-btn'  onclick='openNav(event);' type="button" class="btn btn-success btn-lg">
                        <span id='nav-span' class="glyphicon glyphicon-chevron-right"></span> 
                    </button>
                </div>
                <img id='logo'  src='Images/masm.png' />
            </div>
            <div class='col-xs-4 col-sm-4 col-md-4'>
                <button id='logout' style='margin-top:1.5em; float:right;' class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-log-out"></span> Odjavi se
                </button>
            </div>
</div></br>


