body{
    margin: 0;
    font-family: "Lato", sans-serif;
    height: 100%;
    width: 100%;
    background-image:url('Images/mybg.png');
}



 

ul{
    list-style: none;
    margin-left: -30px;
}
li{
    border-bottom:1px solid grey;
}
li:hover{
   border-bottom:1px solid white; 
}
#content{
   
    width:100%;
    height: 100%;
    border:0px; 
    
}
#rss{
    opacity:0.7;
    cursor: pointer;
}
#rss:hover{
    opacity:1;
}
#profilna{
    /*border:1px solid #22262e; */
    background-color:#fff;
    margin-top:50px;
    box-shadow:0.5px 0.5px 0.5px 0.5px #22262e;
    
    height:inherit;
}
label{
   color:#22262e;
}
#logo{
    margin-top:-50px;
}
.sideNav{
    height: 100%;
    width: 0;
    position:fixed;
    z-index: 1;
    float:left;
    left: 0;
    background-color: #22262e;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sideNav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 23px;
    color: white;
    opacity:0.5;
    display: block;
    transition: 0.3s
}
#parent{
   transition: 0.3s;
   
   z-index: 1;
   width:0;
   opacity: 0;
}
.parent{
   transition: 0.3s;
   
   z-index: 1;
   width:0;
   opacity: 0;
}
.sideNav a:hover{
     color: white;
     opacity:1;
     text-decoration: none;
   
}
.login-img{
    margin-left:-15px
}
.overflow-class{
    overflow: hidden;
}
input::-webkit-input-placeholder {
color: red !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: red !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: red !important;  
}
 
input:-ms-input-placeholder {  
color: red !important;  
}
#closeBtn{

    margin-left: 180px;
    margin-bottom: 50px;
    
}
#container{
    transition: 0.5s;
    height: 100%;
   

}
header {
    
    height: 50px;
    width: 80%;
    margin-left: 10%;
    background-color:  lightgreen;
}
#footer{
        height:20%;
        margin-top:2em;
    }

header h1{
    padding-top: 5px;
    color:white;
    text-align: center;
}

#img-other{
    height:700px;
    width:100%;
    
}
#img-active{
    height:700px;
    width:100%;
   
}

@media(max-width:768px){
    #logo{
       display: none;
        
    }
    #footer{
        height: 75%;
    }

    .login-img{
        display: none;
    }

    #logo-elfak{
        margin-right:500px;
    }

    #img-active{
        height: 400px;
    }
     #img-other{
        height:200px;
    }
    #rss{
        display: none;
    }

  
}